*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(back.jpg);
    background-size:cover;
}
.user{
    height: 20px;
    padding-left: 3px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}
.password{
    height: 20px;
    margin-top: 22px;
    padding-left: 3px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}
.login{
    margin-top: 245px;
    margin-left: 620px;
    height: 180px;
    width: 300px;
    /* border: 2px solid red; */
}
h1{
    padding-bottom: 9px;
    padding-left: 1px;
    width: 130px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    border-bottom: 3px solid white;
}
.submit{
    width: 75px;
    height: 30px;
    margin-top: 18px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.871);
    background: none;
}
.submit:hover{
    background-color: rgb(13, 122, 158);
        transform: scale(1.3);
}

@media (min-width: 768px) {
    /* Adjust styles for medium-sized screens */
    .login {
        margin-left: 30%;
        margin-top: 10%;
    }

    body{
        height: 100%;
        background-image: url(back.jpg);
        background-size:cover;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    /* Adjust styles for large screens */
    .login {
        margin-left: 40%;
        margin-top: 5%;
    }

    body{
        height: 100%;
        background-image: url(back.jpg);
        background-size:cover;
        justify-content: center;
        align-items: center;
    }
}
